In [ ]:


# As final considerations:

# * You must use the Pandas Library and the Jupyter Notebook.
# * You must submit a link to your Jupyter Notebook with the viewable Data Frames.
# * You must include a written description of three observable trends based on the data.
# * See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.

In [248]:
# Dependencies and Setup
import pandas as pd

# File to Load
data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data_df = pd.read_csv(data)

#data_df.head()

In [249]:
total_players = len(data_df["SN"].unique())
total_players = [{'Total Players':total_players}]
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576

In [250]:
##PURCHASING ANALYSIS

unique_items = len(data_df["Item Name"].unique())

avg_price= data_df["Price"].mean(axis=0)

total_purchase=len(data_df["Purchase ID"])

total_rev = data_df["Price"].sum(axis=0)

purchasing_analysis = [{'Number of Unique Items': unique_items,
                        'Average Price': avg_price,
                        'Number of Purchases': total_purchase,
                        'Total Revenue': total_rev}]
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)

purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map("${:,.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [251]:
#data_df["Gender"].value_counts()

In [252]:
##GENDER DEMOGRAPHICS
#Collect a list of all male
male_data = data_df.loc[data_df["Gender"] == "Male"]
#Using GroupBy in order to separate data into fields according to "SN" users
male_sn = male_data.groupby(["SN","Gender"])
#find percentage of male
male_count = len(male_sn)
percent_male = (male_count/576)


#Collect a list of all female
female_data = data_df.loc[data_df["Gender"] == "Female"]
#Using GroupBy in order to separate data into fields according to "SN" users
female_sn = female_data.groupby(["SN","Gender"])
#find percentage of female
female_count = len(female_sn)
percent_female = (female_count/576)


#Collect a list of all other
other_data = data_df.loc[data_df["Gender"] == "Other / Non-Disclosed"]
#Using GroupBy in order to separate data into fields according to "SN" users
other_sn = other_data.groupby(["SN","Gender"])
#find percentage of "other"
other_count = len(other_sn)
percent_other = (other_count/576)

gender_demographics = ({'': ['Male', 'Female', 'Other / Non-Disclosed'],
                        'Total Count': [male_count, female_count, other_count],
                        'Percentage of Players': [percent_male, percent_female, percent_other]})
gender_demographics_df = pd.DataFrame(gender_demographics).set_index("")


gender_demographics_df['Percentage of Players'] = gender_demographics_df['Percentage of Players'].map("{:.2%}".format)
gender_demographics_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [253]:
##GENDER PURCHASING ANALYSIS

# * The below each broken by gender
#   * Purchase Count

male_count_df = male_sn.count()
male_purchase_count = male_count_df["Purchase ID"].sum()

female_count_df = female_sn.count()
female_purchase_count = female_count_df["Purchase ID"].sum()

other_count_df = other_sn.count()
other_purchase_count = other_count_df["Purchase ID"].sum()

#   * Average Purchase Price
gender_df = data_df.groupby(["Gender"])

# total_purchase_count = gender_df[["Gender"]].count() #RENAME TO TOTAL PURCHASE COUNT


avg_price_gender = gender_df["Price"].mean().round(2)
avg_price_list = list(avg_price_gender)

In [254]:
#   * Average Purchase Total per Person by Male
each_purchase_male = male_sn["Price"].sum()
avg_total_purchase_male = each_purchase_male.mean()

#Total Purchase Value Male
total_purchase_male = each_purchase_male.sum()



#   * Average Purchase Total per Person by Female
each_purchase_female = female_sn["Price"].sum()
avg_total_purchase_female = each_purchase_female.mean()

#Total Purchase Value Female
total_purchase_female = each_purchase_female.sum()


#   * Average Purchase Total per Person by Other
each_purchase_other = other_sn["Price"].sum()
avg_total_purchase_other = each_purchase_other.mean()
#Total Purchase Value Other
total_purchase_other = each_purchase_other.sum()

In [255]:
gender_purchasing_analysis = ({'': ["Male", "Female", "Other/ Non-Disclosed"],
                        'Purchase Count': [male_purchase_count, female_purchase_count, other_purchase_count],
                        'Average Purchase Price': [avg_price_list[0], avg_price_list[1], avg_price_list[2]],
                        'Total Purchase Value': [total_purchase_male, total_purchase_female, total_purchase_other],
                        'Avg Total Purchase per Person': [avg_total_purchase_male, avg_total_purchase_female, avg_total_purchase_other] })
gender_purchasing_analysis_df = pd.DataFrame(gender_purchasing_analysis).set_index("")
gender_purchasing_analysis_df['Avg Total Purchase per Person'] = gender_purchasing_analysis_df['Avg Total Purchase per Person'].map("${:,.2f}".format)
gender_purchasing_analysis_df['Average Purchase Price'] = gender_purchasing_analysis_df['Average Purchase Price'].map("${:,.2f}".format)
gender_purchasing_analysis_df['Total Purchase Value'] = gender_purchasing_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
gender_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
,,,,
Male,652,$3.20,"$1,967.64",$4.07
Female,113,$3.02,$361.94,$4.47
Other/ Non-Disclosed,15,$3.35,$50.19,$4.56

In [256]:

# gender_purchasing_analysis = [{'': ['Male', 'Female', 'Other / Non-Disclosed'],
#                         'Purchase Count': total_purchase_count,
#                         'Average Purchase Price': total_purchase,
#                         'Total Purchase Value': total_rev,
#                         'Avg Total Purchase per Person':  }]
# gender_purchasing_analysis_df = pd.DataFrame(gender_purchasing_analysis)

In [270]:
per_person = data_df.groupby(["SN",])
total_per_person = per_person["Price"].sum()
purchases_per_person= per_person["Price"].count()
avg_per_person = total_per_person/purchases_per_person
avg_per_person = pd.DataFrame(avg_per_person)
avg_per_person

# new_df = pd.merge(data_df,avg_per_person, on="SN")


#per_person[Average Value].head()

                  Price
SN
Adairialis76   2.280000
Adastirin33    4.480000
Aeda94         4.910000
Aela59         4.320000
Aelaria33      1.790000
...                 ...
Yathecal82     2.073333
Yathedeu43     3.010000
Yoishirrala98  4.580000
Zhisrisu83     3.945000
Zontibe81      2.676667

[576 rows x 1 columns]

In [271]:
data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [268]:
## Age Demographics


#check highest and lowest age
data_df["Age"].min() 
data_df["Age"].max()

#Create bins in which to place players age
bins = [0,9,14,19,24,29,34,39,50] 
#create labels for these bins
group_ages = ["<10","10-14","15-19","20-24", "25-29", "30-34", "35-39","40+"]

data_df["Age Demographics"] = pd.cut(data_df["Age"], bins, labels = group_ages)
data_df_renamed = data_df.rename(columns={"Purchase ID": "Purchase Count"})

age_group = data_df_renamed.groupby(["Age Demographics"])
#   * Purchase Count
age_group_df = age_group[["Purchase Count"]].count()
#   * Average Purchase Price
age_group_df["Average Purchase Price"] = age_group["Price"].mean().round(2)
#   * Total Purchase Value
age_group_df["Total Purchase Value"] = age_group["Price"].sum()
age_group_df["Avg Total Purchase per Person"] = age_group["Price_y"].mean()
age_group_df

# age_sn = data_df_renamed.groupby(["SN","Age Demographics"])

# age_group_sum = age_group["Price"].sum()
# # age_group_avg = age_group_sum.mean()

# age_group_df



#   * Average Purchase Total per Person by Age Group

#age_demographics_summary = ["Purchase Count","Average Purchase Price","Total Purchase Value", "Avg Total Purchase per Person"]

KeyError: 'Column not found: Price_y'

In [217]:
data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [218]:
# ### Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
sn_df = data_df.groupby(["SN"])
total_purchases = sn_df["Price"].sum()
top_1 = total_purchases.max()
top_1_df =sn_df.loc[sn_df['Price'] ==top_1]
top_1_df



#nlargest( 5 , [ 'Age' ], keep = 'first')

#   [{"SN":
#   "Purchase Count":
#   "Average Purchase Price":
#   "Total Purchase Value": }]

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

In [219]:
# ### Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

In [ ]:
# ### Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value