In [ ]:
# ### Purchasing Analysis (Gender)

# * The below each broken by gender
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Gender

# ### Age Demographics

# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group

# ### Top Spenders

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

# ### Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

# ### Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

# As final considerations:

# * You must use the Pandas Library and the Jupyter Notebook.
# * You must submit a link to your Jupyter Notebook with the viewable Data Frames.
# * You must include a written description of three observable trends based on the data.
# * See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data_df = pd.read_csv(data)

#data_df.head()

In [2]:
total_players = len(data_df["SN"].unique())
total_players = [{'Total Players':total_players}]
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576

In [3]:
##PURCHASING ANALYSIS

unique_items = len(data_df["Item Name"].unique())

avg_price= data_df["Price"].mean(axis=0)

total_purchase=len(data_df["Purchase ID"])

total_rev = data_df["Price"].sum(axis=0)

purchasing_analysis = [{'Number of Unique Items': unique_items,
                        'Average Price': avg_price,
                        'Number of Purchases': total_purchase,
                        'Total Revenue': total_rev}]
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)

purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("\${:,.2f}".format)
purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map("\${:,.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179        \$3.05                  780    \$2,379.77

In [4]:
#data_df["Gender"].value_counts()

In [15]:
##GENDER DEMOGRAPHICS
#Collect a list of all male
male_data = data_df.loc[data_df["Gender"] == "Male"]
#Using GroupBy in order to separate data into fields according to "SN" users
male_sn = male_data.groupby(["SN","Gender"])
#find percentage of male
male_count = len(male_sn)
percent_male = (male_count/576)


#Collect a list of all female
female_data = data_df.loc[data_df["Gender"] == "Female"]
#Using GroupBy in order to separate data into fields according to "SN" users
female_sn = female_data.groupby(["SN","Gender"])
#find percentage of female
female_count = len(female_sn)
percent_female = (female_count/576)


#Collect a list of all other
other_data = data_df.loc[data_df["Gender"] == "Other / Non-Disclosed"]
#Using GroupBy in order to separate data into fields according to "SN" users
other_sn = other_data.groupby(["SN","Gender"])
#find percentage of "other"
other_count = len(other_sn)
percent_other = (other_count/576)

gender_demographics = ({'': ['Male', 'Female', 'Other / Non-Disclosed'],
                        'Total Count': [male_count, female_count, other_count],
                        'Percentage of Players': [percent_male, percent_female, percent_other]})
gender_demographics_df = pd.DataFrame(gender_demographics).set_index("")


gender_demographics_df['Percentage of Players'] = gender_demographics_df['Percentage of Players'].map("{:.2%}".format)
gender_demographics_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [96]:
##GENDER PURCHASING ANALYSIS

# * The below each broken by gender
#   * Purchase Count

male_count_df = male_sn.count()
male_purchase_count = male_count_df["Purchase ID"].sum()

female_count_df = female_sn.count()
female_purchase_count = female_count_df["Purchase ID"].sum()

other_count_df = other_sn.count()
other_purchase_count = other_count_df["Purchase ID"].sum()

#   * Average Purchase Price
gender_df = data_df.groupby(["Gender"])

# total_purchase_count = gender_df[["Gender"]].count() #RENAME TO TOTAL PURCHASE COUNT


avg_price_gender = gender_df["Price"].mean().round(2)
avg_price_list = list(avg_price_gender)

3.02

In [90]:
#   * Average Purchase Total per Person by Male
each_purchase_male = male_sn["Price"].sum()
avg_total_purchase_male = each_purchase_male.mean()

#Total Purchase Value Male
total_purchase_male = each_purchase_male.sum()



#   * Average Purchase Total per Person by Female
each_purchase_female = female_sn["Price"].sum()
avg_total_purchase_female = each_purchase_female.mean()

#Total Purchase Value Female
total_purchase_female = each_purchase_female.sum()


#   * Average Purchase Total per Person by Other
each_purchase_other = other_sn["Price"].sum()
avg_total_purchase_other = each_purchase_other.mean()
#Total Purchase Value Other
total_purchase_other = each_purchase_other.sum()

50.19

In [108]:
gender_purchasing_analysis = ({'': ["Male", "Female", "Other"],
                        'Purchase Count': [male_purchase_count, female_purchase_count, other_purchase_count],
                        'Average Purchase Price': [avg_price_list[0], avg_price_list[1], avg_price_list[2]],
                        'Total Purchase Value': [total_purchase_male, total_purchase_female, total_purchase_other],
                        'Avg Total Purchase per Person': [avg_total_purchase_male, avg_total_purchase_female, avg_total_purchase_other] })
gender_purchasing_analysis_df = pd.DataFrame(gender_purchasing_analysis).set_index("")
gender_purchasing_analysis_df['Avg Total Purchase per Person'] = gender_purchasing_analysis_df['Avg Total Purchase per Person'].map("\${:,.2f}".format)
gender_purchasing_analysis_df['Average Purchase Price'] = gender_purchasing_analysis_df['Average Purchase Price'].map("\${:,.2f}".format)
gender_purchasing_analysis_df['Total Purchase Value'] = gender_purchasing_analysis_df['Total Purchase Value'].map("\${:,.2f}".format)
gender_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
,,,,
Male,652,\$3.20,"\$1,967.64",\$4.07
Female,113,\$3.02,\$361.94,\$4.47
Other,15,\$3.35,\$50.19,\$4.56