In [ ]:
# Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.

# Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

# Your final report should include each of the following:

# ### Player Count

# * Total Number of Players

# ### Purchasing Analysis (Total)

# * Number of Unique Items - .unique
# * Average Purchase Price -.mean
# * Total Number of Purchases- .sum?
# * Total Revenue - .sum?

# ### Gender Demographics

# * Percentage and Count of Male Players
# * Percentage and Count of Female Players
# * Percentage and Count of Other / Non-Disclosed

# ### Purchasing Analysis (Gender)

# * The below each broken by gender
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Gender

# ### Age Demographics

# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group

# ### Top Spenders

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

# ### Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

# ### Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

# As final considerations:

# * You must use the Pandas Library and the Jupyter Notebook.
# * You must submit a link to your Jupyter Notebook with the viewable Data Frames.
# * You must include a written description of three observable trends based on the data.
# * See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.

In [177]:
# Dependencies and Setup
import pandas as pd

# File to Load
data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data_df = pd.read_csv(data)

data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [178]:
total_players = len(data_df["SN"].unique())
total_players = [{'Total Players':total_players}]
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576

In [179]:
##PURCHASING ANALYSIS

unique_items = len(data_df["Item Name"].unique())

avg_price= (data_df["Price"].mean(axis=0))

total_purchase=len(data_df["Purchase ID"])

total_rev = data_df["Price"].sum(axis=0)

purchasing_analysis = [{'Number of Unique Items': unique_items,
                        'Average Price': avg_price,
                        'Number of Purchases': total_purchase,
                        'Total Revenue': total_rev}]
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)
purchasing_analysis_df.round(2)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [185]:
unique_sn = data_df["SN"].unique()
unique_sn
for name in unique_sn:
    print row[3]

NameError: name 'row' is not defined

In [155]:
unique = data_df[["SN","Gender"]]
unique_df = pd.DataFrame(unique)
unique_df

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
775     Aethedru70  Female
776         Iral74    Male
777     Yathecal72    Male
778        Sisur91    Male
779      Ennrian78    Male

[780 rows x 2 columns]

In [169]:
unique_sn = data_df["SN"].unique()
unique_gender = data_df.loc[unique_sn,"Gender"]
unique_gender

KeyError: "None of [Index(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86', 'Iskosia90',\n       'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33', 'Chanosian48',\n       ...\n       'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36', 'Iskossasda43',\n       'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72', 'Sisur91'],\n      dtype='object', length=576)] are in the [index]"

In [161]:
name_index = unique_df.set_index("SN")
unique_index = name_index.iloc[:,0:576]
print(unique_index)

               Gender
SN
Lisim78          Male
Lisovynya38      Male
Ithergue48       Male
Chamassasya86    Male
Iskosia90        Male
...               ...
Aethedru70     Female
Iral74           Male
Yathecal72       Male
Sisur91          Male
Ennrian78        Male

[780 rows x 1 columns]

In [116]:
male_data = data_df.loc[data_df["Gender"] == "Male"]
male_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [113]:
##GENDER DEMOGRAPHICS
gender_count = data_df["Gender"].count()
gender_count

780

In [ ]:
grouped_gender = data_df.groupby(["Gender"])

grouped_gender_df = pd.DataFrame(grouped_gender)
grouped_gender_df

In [9]:
#START GROUPBY
player_purchases = data_df["SN"].value_counts()
player_purchases.head()

Lisosia93      5
Idastidru52    4
Iral74         4
Aina42         3
Inguron55      3
Name: SN, dtype: int64

              0                                                  1
0  Adairialis76       Purchase ID            SN  Age Gender  It...
1   Adastirin33       Purchase ID           SN  Age  Gender  It...
2        Aeda94       Purchase ID      SN  Age Gender  Item ID ...
3        Aela59      Purchase ID      SN  Age Gender  Item ID  ...
4     Aelaria33       Purchase ID         SN  Age Gender  Item ...

In [12]:
## PLAYER COUNT
#Total Number of Players

TOTAL PLAYERS:

576

In [37]:
data_df = data_df["SN"].unique()
unique_male = data_df.loc[data_df["Gender"] == "Male",:]
unique_male.count()

179