In [ ]:


# As final considerations:

# * You must use the Pandas Library and the Jupyter Notebook.
# * You must submit a link to your Jupyter Notebook with the viewable Data Frames.
# * You must include a written description of three observable trends based on the data.
# * See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.

In [279]:
# Dependencies and Setup
import pandas as pd

# File to Load
data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data_df = pd.read_csv(data)

#data_df.head()

## Player Count

* Display the total number of players

In [404]:
total_players = len(data_df["SN"].unique())
total_players = [{'Total Players':total_players}]
total_players_df = pd.DataFrame(total_players)
total_players_df

   Total Players
0            576

In [281]:
##PURCHASING ANALYSIS

unique_items = len(data_df["Item Name"].unique())

avg_price= data_df["Price"].mean(axis=0)

total_purchase=len(data_df["Purchase ID"])

total_rev = data_df["Price"].sum(axis=0)

purchasing_analysis = [{'Number of Unique Items': unique_items,
                        'Average Price': avg_price,
                        'Number of Purchases': total_purchase,
                        'Total Revenue': total_rev}]
purchasing_analysis_df = pd.DataFrame(purchasing_analysis)

purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map("${:,.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [282]:
#data_df["Gender"].value_counts()

In [283]:
##GENDER DEMOGRAPHICS
#Collect a list of all male
male_data = data_df.loc[data_df["Gender"] == "Male"]
#Using GroupBy in order to separate data into fields according to "SN" users
male_sn = male_data.groupby(["SN","Gender"])
#find percentage of male
male_count = len(male_sn)
percent_male = (male_count/576)


#Collect a list of all female
female_data = data_df.loc[data_df["Gender"] == "Female"]
#Using GroupBy in order to separate data into fields according to "SN" users
female_sn = female_data.groupby(["SN","Gender"])
#find percentage of female
female_count = len(female_sn)
percent_female = (female_count/576)


#Collect a list of all other
other_data = data_df.loc[data_df["Gender"] == "Other / Non-Disclosed"]
#Using GroupBy in order to separate data into fields according to "SN" users
other_sn = other_data.groupby(["SN","Gender"])
#find percentage of "other"
other_count = len(other_sn)
percent_other = (other_count/576)

gender_demographics = ({'': ['Male', 'Female', 'Other / Non-Disclosed'],
                        'Total Count': [male_count, female_count, other_count],
                        'Percentage of Players': [percent_male, percent_female, percent_other]})
gender_demographics_df = pd.DataFrame(gender_demographics).set_index("")


gender_demographics_df['Percentage of Players'] = gender_demographics_df['Percentage of Players'].map("{:.2%}".format)
gender_demographics_df

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Gender Purchasing Analysis

In [405]:
# The below each broken by gender
# Purchase Count

male_count_df = male_sn.count()
male_purchase_count = male_count_df["Purchase ID"].sum()

female_count_df = female_sn.count()
female_purchase_count = female_count_df["Purchase ID"].sum()

other_count_df = other_sn.count()
other_purchase_count = other_count_df["Purchase ID"].sum()

# Average Purchase Price
gender_df = data_df.groupby(["Gender"])

##total_purchase_count = gender_df[["Gender"]].count() #RENAME TO TOTAL PURCHASE COUNT


avg_price_gender = gender_df["Price"].mean().round(2)
avg_price_list = list(avg_price_gender)

# Average Purchase Total per Person by Male
each_purchase_male = male_sn["Price"].sum()
avg_total_purchase_male = each_purchase_male.mean()

#Total Purchase Value Male
total_purchase_male = each_purchase_male.sum()



# Average Purchase Total per Person by Female
each_purchase_female = female_sn["Price"].sum()
avg_total_purchase_female = each_purchase_female.mean()

# Total Purchase Value Female
total_purchase_female = each_purchase_female.sum()


# Average Purchase Total per Person by Other
each_purchase_other = other_sn["Price"].sum()
avg_total_purchase_other = each_purchase_other.mean()
# Total Purchase Value Other
total_purchase_other = each_purchase_other.sum()

gender_purchasing_analysis = ({'': ["Male", "Female", "Other/ Non-Disclosed"],
                        'Purchase Count': [male_purchase_count, female_purchase_count, other_purchase_count],
                        'Average Purchase Price': [avg_price_list[0], avg_price_list[1], avg_price_list[2]],
                        'Total Purchase Value': [total_purchase_male, total_purchase_female, total_purchase_other],
                        'Avg Total Purchase per Person': [avg_total_purchase_male, avg_total_purchase_female, avg_total_purchase_other] })
gender_purchasing_analysis_df = pd.DataFrame(gender_purchasing_analysis).set_index("")
gender_purchasing_analysis_df['Avg Total Purchase per Person'] = gender_purchasing_analysis_df['Avg Total Purchase per Person'].map("${:,.2f}".format)
gender_purchasing_analysis_df['Average Purchase Price'] = gender_purchasing_analysis_df['Average Purchase Price'].map("${:,.2f}".format)
gender_purchasing_analysis_df['Total Purchase Value'] = gender_purchasing_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
gender_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
,,,,
Male,652,$3.20,"$1,967.64",$4.07
Female,113,$3.02,$361.94,$4.47
Other/ Non-Disclosed,15,$3.35,$50.19,$4.56

In [464]:
age_per_person = data_df.groupby(["SN","Age"])
age_per_person.head()



total_spent_per_person = age_per_person["Price"].sum()
number_of_purchases_per_person= age_per_person["Price"].count()


purch_per_person_int = age_per_person[["Purchase ID"]].count()
purch_per_person_int


avg_purchase_per_person = total_spent_per_person/number_of_purchases_per_person

summary_age_per_person_df = pd.DataFrame(avg_purchase_per_person)
summary_age_per_person_df["Players Count"] = (purch_per_person_int)
summary_age_per_person_df["Total Purchase Value"] = total_spent_per_person

per_person_df = summary_age_per_person_df.reset_index()
per_person_df

                SN  Age     Price  Players Count  Total Purchase Value
0     Adairialis76   16  2.280000              1                  2.28
1      Adastirin33   35  4.480000              1                  4.48
2           Aeda94   17  4.910000              1                  4.91
3           Aela59   21  4.320000              1                  4.32
4        Aelaria33   23  1.790000              1                  1.79
..             ...  ...       ...            ...                   ...
571     Yathecal82   20  2.073333              3                  6.22
572     Yathedeu43   22  3.010000              2                  6.02
573  Yoishirrala98   17  4.580000              1                  4.58
574     Zhisrisu83   10  3.945000              2                  7.89
575      Zontibe81   21  2.676667              3                  8.03

[576 rows x 5 columns]

## Age Demographics

In [431]:

#Create bins in which to place players age
bins = [0,9,14,19,24,29,34,39,50] 
#create labels for these bins
group_ages = ["<10","10-14","15-19","20-24", "25-29", "30-34", "35-39","40+"]

per_person_df["Age Ranges"] = pd.cut(per_person_df["Age"], bins, labels = group_ages)


age_group = per_person_df.groupby(["Age Ranges"])

#Purchase Count
age_group_df = age_group[["Players Count"]].count()
age_group_df["Percentage of Players"] = (age_group_df/576)
age_group_df["Percentage of Players"] = age_group_df["Percentage of Players"].map("{:.2%}".format)
age_group_df

            Players Count Percentage of Players
Age Ranges
<10                    17                 2.95%
10-14                  22                 3.82%
15-19                 107                18.58%
20-24                 258                44.79%
25-29                  77                13.37%
30-34                  52                 9.03%
35-39                  31                 5.38%
40+                    12                 2.08%

## Age Purchasing Analysis

In [442]:
data_df["Age Ranges"] = pd.cut(data_df["Age"], bins, labels = group_ages)
data_df_renamed = data_df.rename(columns={"Purchase ID": "Purchase Count"})

age_ranges = data_df_renamed.groupby(["Age Ranges"])

# Purchase Count
age_ranges_df = age_ranges[["Purchase Count"]].count()
age_ranges[["Purchase Count"]].count()

# Average Purchase Price
age_ranges_df["Average Purchase Price"] = age_ranges["Price"].mean().map("${:,.2f}".format)

# Total Purchase Value
age_ranges_df["Total Purchase Value"] = age_ranges["Price"].sum()


#merge the two data frames to use player count for avg purchase total by person in each age range
age_purchasing_analysis = pd.merge(age_ranges_df,age_group_df, on="Age Ranges")

#Use purchase value and player count to find the average of total purchase per person
age_purchasing_analysis["Avg Purchase Total per Person"] = age_purchasing_analysis["Total Purchase Value"]/age_purchasing_analysis["Players Count"]
age_purchasing_analysis["Avg Purchase Total per Person"]=age_purchasing_analysis["Avg Purchase Total per Person"].map("${:,.2f}".format)



#DROP the values/columns not asked for -
age_purchasing_analysis = age_purchasing_analysis.drop("Percentage of Players", axis=1)
age_purchasing_analysis = age_purchasing_analysis.drop("Players Count", axis=1)

age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Age Ranges,,,,
<10,23,$3.35,77.13,$4.54
10-14,28,$2.96,82.78,$3.76
15-19,136,$3.04,412.89,$3.86
20-24,365,$3.05,1114.06,$4.32
25-29,101,$2.90,293.00,$3.81
30-34,73,$2.93,214.00,$4.12
35-39,41,$3.60,147.67,$4.76
40+,13,$2.94,38.24,$3.19

### Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

In [467]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#categorize by Total Purchase value in descending order - show top 5
summary_age_per_person_df.sort_values(by=["Total Purchase Value"], ascending=False).head()

#remove age index and delete column

#rename price to average price

#format price and purchase value as dollars

                    Price  Players Count  Total Purchase Value
SN          Age
Lisosia93   25   3.792000              5                 18.96
Idastidru52 24   3.862500              4                 15.45
Chamjask73  22   4.610000              3                 13.83
Iral74      21   3.405000              4                 13.62
Iskadarya95 20   4.366667              3                 13.10

## Most Popular Items

In [ ]:
# ### Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

In [504]:
item_group = data_df.groupby(["Item Name"])

total_number_sold = item_group[["Purchase ID"]].count()
total_number_sold[["Purchase ID","Price",]].head


#total_number_sold.sort_values(by=["Purchase ID"], ascending=False).head(5)

# item_group_count_arange = item_group_count.sort_values(by = ["Purchase ID"], ascending = False)
# item_group_count_arange

KeyError: "['Price'] not in index"

In [ ]:
# ### Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value